/* index.css */

/* Variables */
:root {
    --background-color: #0b0b0b;
    --text-color: #d1c4e9;
    --accent-color: #6a1b9a;
    --header-background: #1a1a1a;
    --link-color: #d1c4e9;
    --text-heading: #834a8b;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%; /* Set html and body to take up full height */
    display: flex;
    flex-direction: column;
}

/* The main content wrapper */
.main-content {
    flex: 1; /* Allows the content area to grow and push the footer down */
    padding: 20px;
}

/* Footer */
footer {
    background-color: var(--header-background);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

/* Home page styling */
.home-page {
    text-align: center;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* Hero section */
.hero {
    padding: 50px 20px;
    background-color: var(--header-background);
}

.hero h1 {
    font-size: 48px;
    color: var(--accent-color);
    font-weight: bold;
}

.hero p {
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto;
    color: var(--text-color);
}

/* How It Works section */
.how-it-works {
    padding: 40px 20px;
    margin-top: 40px;
    background-color: #1a1a1a;
    border-radius: 10px;
}

.how-it-works h2 {
    font-size: 36px;
    color: var(--accent-color);
    font-weight: bold;
    margin-bottom: 30px;
}

/* Features section styling */
.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.feature {
    background-color: var(--header-background);
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    text-align: left;
}

.feature h3 {
    color: var(--accent-color);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.feature p {
    color: var(--text-color);
    font-size: 16px;
}