/* Layout.css */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hero {
    text-align: center;
    padding: 48px 16px;
    background-color: var(--header-background);
}

.hero h1 {
    font-size: 40px;
    color: var(--text-heading);
}

.hero p {
    max-width: 700px;
    margin: auto;
    margin-top: 16px;
    font-size: 19px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    padding: 32px 0;
}

.feature {
    background-color: var(--header-background);
    padding: 24px;
    width: 300px;
    border-radius: 10px;
}

.feature h3 {
    color: var(--accent-color);
    margin-bottom: 16px;
}

.get-started {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--header-background);
    margin-top: 30px;
    border-radius: 10px;
}

.get-started h2 {
    color: var(--text-heading);
    font-size: 28px;
    margin-bottom: 20px;
}

.get-started-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.get-started-links a {
    background-color: var(--accent-color);
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.get-started-links a:hover {
    background-color: var(--text-heading);
}